[2015-05-23 23:51] HexTree opened #1 "Checklist"
- A checklist of things that the student must do on the first day and subsequent days (housing, medical, bank, meet academic advisor, etc). It would nice for the students to be able to tick the boxes once they are done.

[2015-05-23 23:52] HexTree opened #2 "Calendar"
- A calendar of all events taking place during the Orientation period. Graduate services will provide one online, we just have to make it phone-friendly.

[2015-05-23 23:53] HexTree commented on #2
For this we will need the link to the online calendar which is already provided by Graduate Affairs (and is regularly updated). I will post the link here as soon as I can get hold of it.

[2015-05-23 23:54] HexTree opened #3 "Phone book"
- A directory of important phone numbers. It would be ideal if the student can import all the important numbers (or the ones he/she wants) into the phone's address book at the click of a button.

[2015-05-23 23:55] HexTree opened #4 "Web links"
- A set of links to useful internet sites (collegiate link, facebook groups, etc).

[2015-05-23 23:55] HexTree opened #5 "Travel"
- Maps of the area, including KAUST, Thuwal, Jeddah and possibly beyond. The idea here was to create something based on Open Street Maps, and to use the remarkably detailed overlays provided at https://github.com/Virtakuono/.kml-repository . The maps can also be supplemented with travel information. This would be a great help to the newcomers, because even some of us who have been here several yea

[2015-05-23 23:58] HexTree opened #6 "Main menu"
Some sort of main menu screen, where the user can navigate to any of the features. It would make sense to do this before working on the features themselves.

[2015-05-24 00:02] HexTree commented on #5
A lot of useful data in the various repositories at https://github.com/Virtakuono . This task will need more thought for design than the others.

[2015-05-24 15:32] HexTree commented on #6
Commit: e792a0e2812cab3e83cd4a922dbf8d1be53412e7

Made a very basic main menu for android, to get started with. Used (https://www.caveofprogramming.com/guest-posts/custom-gridview-with-imageview-and-textview-in-android.html) as a guiding example. These buttons should eventually open the new activities.

![app menu](https://cloud.githubusercontent.com/assets/7933725/8508102/67793962-226b-11e5-83d2-

[2015-05-24 23:16] HexTree opened #7 "Main menu"
Some sort of main menu screen, where the user can navigate to any of the features. It would make sense to do this before working on the features themselves.

[2015-05-24 23:18] HexTree opened #8 "Phone directory"
- A directory of important phone numbers. It would be ideal if the student can import all the important numbers (or the ones he/she wants) into the phone's address book at the click of a button.

[2015-05-24 23:21] HexTree opened #9 "Travel"
- Maps of the area, including KAUST, Thuwal, Jeddah and possibly beyond. The idea here was to create something based on Open Street Maps, and to use the remarkably detailed overlays provided at https://github.com/Virtakuono/.kml-repository . The maps can also be supplemented with travel information. This would be a great help to the newcomers, because even some of us who have been here several yea

[2015-05-24 23:22] HexTree opened #10 "Web links"
- A set of links to useful internet sites (collegiate link, facebook groups, etc).

[2015-05-24 23:23] HexTree opened #11 "Calendar"
- A calendar of all events taking place during the Orientation period. Graduate services will provide one online, we just have to make it phone-friendly.

[2015-05-24 23:23] HexTree opened #12 "Checklist"
- A checklist of things that the student must do on the first day and subsequent days (housing, medical, bank, meet academic advisor, etc). It would nice for the students to be able to tick the boxes once they are done.

[2015-05-24 23:29] HexTree opened #13 "main menu - replace linearlayout with textview?"
Sub-issue of #6

In res/layout/feature_list.xml I'm getting the following warning from Android Studio, over the first instance of "LinearLayout":

_Node can be replaced by a TextView with compound drawables  A LinearLayout which contains an ImageView and a TextView can be more efficiently handled as a compound drawable (a single TextView, using the drawableTop, drawableLeft, drawableRight and/or d

[2015-05-25 00:01] HexTree commented on #6
Closing this, as the basic menu is there, and whoever creates the activities needs to link them up to the menu correctly.
Of course more work will be needed on the menu. Raise more issues for those.

[2015-05-25 00:01] #6 closed, assigned to nobody

[2015-05-25 16:29] HexTree opened #14 "Existing example app"
Found an existing app which is very similar to ours:

https://github.com/sgrinich/Carleton-NSW-Android
https://play.google.com/store/apps/details?id=com.carleton.nsw&hl=en

Would be good to dig through the code (or try the app) to understand how some things are achieved.

[2015-05-28 13:12] HexTree commented on #14
Tried to open the source code in Android Studio, but just got a lot of errors. Something about gradle version being outdated. Not sure how to make it compile, hopefully someone more experienced than me can get it working.

[2015-05-28 15:49] HexTree commented on #1
In commit 90d6cfae8c6a0f22d99a16a13d423db187c0ac88 I used an online example (http://www.mysamplecode.com/2012/07/android-listview-checkbox-example.html) to make a simple checklist, using countries. We can manipulate this to show student tasks.
![app checklist](https://cloud.githubusercontent.com/assets/7933725/7864375/47640850-056a-11e5-8d42-d5c1d2a111ee.png)

[2015-05-31 14:38] HexTree commented on #1
c9fe3307a13577b6dcf9a45842c4741e973a3fdc Changed from countries to tasks. The list is populated from text file res/raw/tasks, you can enter into this text file whatever you want to show in the list. Long descriptions will wrap cleanly onto the next lines.
![app checklist](https://cloud.githubusercontent.com/assets/7933725/8211767/02a9a1e0-1521-11e5-8062-7b61ac42274d.png)

[2015-05-31 14:38] #1 closed, assigned to HexTree

[2015-05-31 14:41] HexTree opened #15 "checklist - make user entries persistent"
Child task of #1

<strike> Right now, whenever the user opens the checklist, it will be refreshed and all checkboxes will have no ticks in them. It needs to be made so that any ticks will be saved in memory. </strike>

Ticks in the checkboxes are saved when clicking the 'back' button, but disappear when shutting down the app. Also some strange behaviour, e.g. the last box sometimes gets ticked.

!

[2015-05-31 14:58] HexTree commented on #3
Renaming to 'Phone book'. Saves text space on the menu.

[2015-05-31 17:55] HexTree commented on #15
183041461353825d66613c6b105588c51f7a48b3

Used SharedPreferences class in an attempt to store the boolean values in Preferences file. This seems to work as long as app is open. But when I close the app, the ticks disappear. Not what I was hoping for. Changing this to bug status.

[2015-06-15 13:50] HexTree commented on #3
7963c4f65a4da3950a3f06e3bbb0628af0d7f876 Made simple phonebook using guide: https://xjaphx.wordpress.com/2011/06/11/create-a-simple-phone-book/

![app phonebook](https://cloud.githubusercontent.com/assets/7933725/8162352/5d2154a8-1385-11e5-963b-4593c5c6bced.png)

Things to do:
- Populate KAUST contacts from comma-separated data in text file (and bitmap icons).
- Implement 'click to add to phone's

[2015-06-15 14:43] #12 closed, assigned to nobody

[2015-06-15 14:44] #7 closed, assigned to nobody

[2015-06-15 14:44] #8 closed, assigned to nobody

[2015-06-15 14:44] #9 closed, assigned to nobody

[2015-06-15 14:44] #10 closed, assigned to nobody

[2015-06-15 14:44] #11 closed, assigned to nobody

[2015-06-15 14:45] HexTree opened #16 "Port to iOS"
Port everything we have done on Android, to iOS.

[2015-06-15 14:58] Virtakuono commented on #5
Check out this https://github.com/mapswithme/api-ios and  the base maps come from OSM, through maps.me, you can open up locations within maps.me from outside the app using this API. https://github.com/mapswithme/api-android. As far as the actual data is concerned, just tell me what you need, I think most coords you might be interested I have already.

[2015-06-16 01:30] HexTree commented on #3
KAUST-ified

We can include different bitmap icons to mean different types of contacts.

![app phonebook](https://cloud.githubusercontent.com/assets/7933725/8245653/10f319d8-163a-11e5-8b98-bc43c66fc839.png)

Have yet to implement 'click to add to phone's contact list' feature.

[2015-06-17 15:27] HexTree commented on #15
Fixed in 652e9c8327bc7385471e3f3491154f8365bafffd

There was a weird issue with newline characters in the text file, causing strange behaviour when trying to store Boolean values. Didn't quite understand the bug, but it was fixed by using comma-separated lines in the text file. Thanks to Uchenna for assistance.

[2015-06-17 15:27] #15 closed, assigned to nobody

[2015-06-17 15:40] HexTree opened #17 "Checklist - make Hints for each checklist entry"
Continuation of #1

At the moment, each checklist entry just says something like "Housing". We would like to make it so that when the user clicks on the entry, a message pops up telling them what to do (e.g. "Go to the housing office on Level 2 of the student centre.")

This can possibly be done using the Hints feature of list items.

[2015-06-18 00:12] HexTree commented on #17
Done. Descriptions must be put in the tasks.txt file, separated from the names via commas.
![app checklist1](https://cloud.githubusercontent.com/assets/7933725/8221473/d797a172-1567-11e5-829b-875e39e417b6.png)

[2015-06-18 00:12] #17 closed, assigned to nobody

[2015-06-19 00:56] HexTree commented on #3
146944f6da3f31e9faf746a8e8522fd5ce65a1ab

Done. Now if you click on contacts, it will automatically add them to your phone's contact list (you have the option to alter the name and details).

![app phonebook 1](https://cloud.githubusercontent.com/assets/7933725/8245432/2fe8f1bc-1637-11e5-9920-a096fcec8fdd.png)

[2015-06-19 00:56] #3 closed, assigned to nobody

[2015-06-24 22:09] HexTree commented on #5
Ok for the first step we have decided to just use a WebView, which shows the openstreetmaps site (as long as Wifi is on). This will be so that we have at least a workable prototype which I can show the staff. After that, we can think about replacing it.

[2015-06-28 19:30] HexTree commented on #5
249767f63f5b7cf49e4fb08b54ebea98d771e6c8 Made a simple webview so at least we have something which resembles a map for the time being (for the purposes of showing staff). But it's not quite what we aim for.

![app travel](https://cloud.githubusercontent.com/assets/7933725/8508125/91191124-226c-11e5-9c18-c83d09091421.png)

The guide @Virtakuono gave at https://github.com/mapswithme/api-android expl

[2015-06-29 16:08] HexTree commented on #5
New branch "mapsme" made for focusing on maps.me support. Have added the maps.me library in 972c176caead2014ac1ad5e5eb476175c9c4f169. If you click on Travel, it asks automatically asks you to download the maps.me app, and directs you to the appropriate market page.

Only issue is that I can't download the app on my 2.3.4 phone as it claims it is incompatible. I think this is because of a problem w

[2015-06-29 20:06] HexTree commented on #2
Calendar added in #18 by @Uchman21

![app calendar](https://cloud.githubusercontent.com/assets/7933725/8417168/604d8df2-1eb3-11e5-9cff-4ebab4f842a3.png)

[2015-06-29 20:06] #2 closed, assigned to nobody

[2015-06-29 20:10] HexTree commented on #4
#18  weblinks added by @Uchman21

![app weblinks](https://cloud.githubusercontent.com/assets/7933725/8508093/04895b98-226b-11e5-9fbf-c882ca042f39.png)

[2015-06-29 20:10] #4 closed, assigned to nobody

[2015-06-29 20:15] #5 closed, assigned to nobody

[2015-06-29 20:24] HexTree opened #19 "Travel - integrate maps.me"
Continuation of #5. In the 'mapsme' branch, we have the MAPS.ME library imported into our project. The goal here is to show our custom locations on the map, using data from @Virtakuono.

[2015-06-29 20:28] HexTree commented on #19
I have tried to show a marker at longitude 0 latitude 0, however I have yet to acquire a phone on which I can test it (the emulators don't seem to like downloading maps.me from the market).

If you do not currently have maps.me installed, this is the screen you will see after clicking Travel:

![app mapsme](https://cloud.githubusercontent.com/assets/7933725/8417652/8f4543cc-1eb6-11e5-8331-62a9f11a

[2015-06-30 20:33] HexTree opened #20 "Calendar"
Continuation of #2. We have the basic framework of a simple calendar, some more improvements are needed.

Add both weeks so that we can switch between them. Also maybe it will be good to match the colours from the official schedule.

Also, when you click on a date, we ought to highlight the date or something. Alternatively have a header stating the exact date. Otherwise when you look at the schedu

[2015-06-30 20:35] HexTree commented on #20
Tried to assign @Uchman21 to this, but Github wouldn't let me for some reason. :/

[2015-06-30 20:44] HexTree opened #21 "Phone book - icons"
Design icons for the phone contacts (e.g. the taxi company can have a taxi for the icon). I think we should go for at least 140x140 pixels for each icon.

[2015-06-30 20:48] HexTree opened #22 "Main menu - icons for buttons"
Design icons for the buttons on the main menu.

[2015-06-30 20:50] HexTree opened #23 "App icon"
Need to make a logo for the app. Ideally we'd like a graphic designer to help with it. This is a useful reference: http://www.google.com/design/spec/style/icons.html#icons-system-icons

[2015-06-30 20:53] HexTree opened #24 "Colour scheme"
KAUST communications team will want to approve certain colours to use in the menus and backgrounds.

[2015-07-04 13:19] HexTree opened #26 "Calendar - grid sizing bug"
I get a sizing problem with the week grid on my Galaxy Mini S5570. Need to fix the layout so that the user doesn't need to scroll to see the day numbers.

![p1010925](https://cloud.githubusercontent.com/assets/7933725/8508039/59b11500-2268-11e5-98c5-54e944f7228f.JPG)

[2015-07-05 01:31] Uchman21 commented on #26
Check it again. Now Its using CalendarView

[2015-07-05 01:32] Uchman21 commented on #20
Check it out now

[2015-07-05 15:59] #26 closed, assigned to Uchman21

[2015-07-05 16:03] HexTree commented on #20
Great! A couple of things. When I look at the schedule for one day, and press the phone's 'Back' button, it goes back to the calendar. However, when I press the on-screen 'Back' button at the top-left, it goes back to the starting menu of the app. Ideally it should go back to the calendar.

Also, if a date is already highlighted, and then you click it, nothing happens. In order to open that date,

[2015-07-05 16:29] Uchman21 commented on #20
Check it now. Android CalenderView don't provide the ability to highlight weeks. But i found a work around.

[2015-07-05 17:21] HexTree commented on #20
Ok, the only problem remaining is that I can not open day number 9, if that day is already highlighted to begin with.

Also, is it possible to make it highlight today's date by default? So that if the app is opened on the 12th then day number 12 is highlighted?

One thing I'd recommend to change about Toast. If the user presses other days many times, he will queue up many Toast messages which will

[2015-07-21 15:00] #20 closed, assigned to Uchman21

[2015-07-21 18:22] HexTree commented on #16
I don't think this can be completed in time, so we will leave this task till after Orientation 2015.

[2015-07-22 05:01] HexTree commented on #22
Icons uploaded in 7e4604d175df36dc18d52a09e731d444327582c3

[2015-07-24 17:44] Uchman21 commented on #22
Icons added. Need the App logo and contact/person logo still though

[2015-07-24 17:48] Uchman21 opened #28 "Contents"
Since the app is almost ready now, we need to fill the app up with full contents as soon as possible. I added the contents available to me at the moment. Please we need a supply of contents to get the app fully ready.

[2015-07-26 14:04] yipcma opened #29 "Bus trip planner integration"
I've been maintaining a real-time geo-tagged bus trip planner for the colored and jeddah routes at [KBus](http://kbus.info) which I've made responsive. You guys are most welcomed to integrate it to the orientation-app. KBus is currently at alpha and will have some new functionalities such as route visualization, and an updated post-Ramadan schedule of course. Lemme know if you have any questions.

[2015-07-26 19:06] yipcma commented on #22
could use this? http://fortawesome.github.io/Font-Awesome/icons/

[2015-07-28 04:47] hadjimy commented on #22
Revised the icons.
For personal contacts we can use the relevant profile photo (if corresponding person agrees with that). For the rest (taxi, GA services etc) I can create the icons.

[2015-08-04 20:35] HexTree commented on #13
Closing this, as it seems to be minor.

[2015-08-04 20:35] #13 closed, assigned to nobody

[2015-08-04 20:35] #14 closed, assigned to nobody

[2015-08-04 20:36] HexTree commented on #19
I decided it might be better to get rid of the Lite version and stick to only the MAPS.ME.

[2015-08-04 20:38] HexTree commented on #28
Check forwarded emails for the contents.

[2015-08-04 20:38] #24 closed, assigned to nobody

[2015-08-04 20:39] #23 closed, assigned to nobody

[2015-08-04 20:43] HexTree commented on #22
Need an icon for Travel. A taxi symbol doesn't quite fit the purpose. Could do a bus, but I think something like a landscape and a palm tree might be more aesthetic.

[2015-08-04 20:47] HexTree opened #31 "Calendar - some fixes"
- Get rid of KAUST logo
- Stick to only 1 column for text always, some cells have 3 columns but it is better as one especially for small phones
- On my phone there is an issue with text being cut off on the right. I can show this to you @Uchman21

[2015-08-04 20:49] yipcma commented on #22
this could be helpful
http://www.flaticon.com/

[2015-08-04 20:50] HexTree opened #32 "Main menu - fix layout"
Make stable layout as discussed in email. At the moment it is a little cluttered on my phone, the icons are too close together, and the text for Web Links is cut off on the bottom.

[2015-08-04 20:50] #16 closed, assigned to nobody

[2015-08-04 20:51] HexTree commented on #29
Yes we will try to put this in. At minimum, as a web link in the Travel section. It would be nice to make it a native app, but we may not have the time for it.

[2015-08-04 20:53] yipcma commented on #29
web-link would suffice for now. I'm working on making it more responsive on hand-held devices.

use http://kbus.info

[2015-08-04 20:53] HexTree opened #33 "Travel - reminder that internet is required"
It was suggested that we have a little notification to remind the user that they can only use the maps whilst connected to a source of internet. Can use a Toast popup for this.

[2015-08-04 21:21] HexTree commented on #29
20b3dff4a60e6e129fbcdbc7a2011c3f90fb6a9b bus planner is now in a webview in the Travel section. The site looks good on my phone.

[2015-08-04 21:21] #29 closed, assigned to HexTree

[2015-08-04 21:21] HexTree commented on #33
20b3dff4a60e6e129fbcdbc7a2011c3f90fb6a9b

[2015-08-04 21:21] #33 closed, assigned to HexTree

[2015-08-04 21:24] HexTree opened #34 "About - message"
We'll put a simple message welcoming the student, describing briefly what the app does, and giving credits to all those who helped put the app together.

[2015-08-04 21:38] yipcma commented on #29
thanks buddy, i will update the site tonight when i get back to the hotel.

[2015-08-05 11:28] HexTree commented on #22
da613efc6d4289846dacb2183ec7119dac474426 There is a bus icon to use for travel. @Uchman21 could you replace the taxi/plane icons with the bus in the correct folders? I'm not sure exactly the right way to do this.

[2015-08-05 18:41] #19 closed, assigned to HexTree

[2015-08-05 20:54] #22 closed, assigned to Uchman21

[2015-08-05 20:54] #31 closed, assigned to Uchman21

[2015-08-05 20:54] #32 closed, assigned to Uchman21

[2015-08-06 10:26] HexTree opened #36 "Main menu - alphabetical order"
We want the main menu icons to be in alphabetical order. From first glance at the code it wasn't clear to me why 'About' is appearing last, instead of first.

[2015-08-06 10:35] HexTree opened #37 "Main menu - background"
Background image or design for the main menu.

[2015-08-06 10:49] Uchman21 commented on #36
The icons were arranged in order of importance.
On Aug 6, 2015 1:26 PM, "Liam" notifications@github.com wrote:

[2015-08-06 10:51] HexTree commented on #36
Ah, ok. I think it is best to have 'About' first, because that will contain the message 'Welcome to KAUST' and a brief description of the other menu items. It should be the first thing they click on. In that case, alphabetical order will be most suitable.

[2015-08-06 10:52] Uchman21 commented on #36
Ok.. I will move about up.. Just didn't know what the about was for.
Thought it was about the app
On Aug 6, 2015 1:51 PM, "Liam" notifications@github.com wrote:

[2015-08-06 10:55] HexTree opened #38 "Main menu - size issue for small screens"
One of the icons is sized strangely on the emulator for a small screen.

![small screen](https://cloud.githubusercontent.com/assets/7933725/9110006/d4670766-3c42-11e5-96d9-bef47aa0c4e7.png)

[2015-08-06 11:44] hadjimy commented on #38
This might be because the icons do not have exactly the same dimensions. I will have a look if there is an easy fix to this, by making uniform dimensions and without stretching much the icons.

[2015-08-06 12:00] Uchman21 commented on #38
fixed. No need to change the dimension

[2015-08-06 12:02] HexTree commented on #38
Yes, for safety the app should be designed such that the layout is correct regardless of the differences in icon dimensions.

[2015-08-06 20:56] HexTree commented on #38
Best not to close any issues until the fix is merged into Master.

[2015-08-06 21:03] HexTree commented on #28
Splitting this task into sub tasks. #39 #40 #41

[2015-08-06 21:03] #28 closed, assigned to HexTree

[2015-08-06 21:04] HexTree opened #39 "Calendar - Content"
Fill calendar with content

[2015-08-06 21:05] HexTree commented on #39
dd313d9109af37a5b9b203922dd4cf7b7eeb9235 The second week is complete. For the first week, I have added all events up to and including Group Light Lunch at 12:30pm. I'm releasing the lock on this task now and will take it up again when I get the chance. If anyone wants to add content, please assign this task to yourself first, and release assignment when done.

[2015-08-06 21:07] HexTree opened #40 "Phone book - Content"
Add phone numbers to raw text file. See emails for list of phone numbers. Don't add personal numbers of staff.

[2015-08-06 21:08] HexTree opened #41 "Web Links - Content"
Add any official web links, nothing unofficial (e.g. no Facebook links).

[2015-08-06 21:16] Uchman21 commented on #38
Done

[2015-08-06 21:16] #38 closed, assigned to Uchman21

[2015-08-06 21:16] Uchman21 commented on #38
The phone contact picture still remains like that till i get the real icons that are gonna be used

[2015-08-06 21:21] HexTree commented on #38
Great, the issue on my phone was fixed as well.

[2015-08-06 21:22] HexTree commented on #36
f4305ff516ee4ecb1d67b0348fac4a9177ac7216

[2015-08-06 21:22] #36 closed, assigned to Uchman21

[2015-08-06 21:55] HexTree opened #42 "About - 'back' button doesn't work"
Weird issue on my phone (Galaxy Mini S5570). In the About menu, clicking the 'back' button on the title bar doesn't do anything. I have to use the phone buttons to go back.

Have not observed this in the emulator, or in any other menu, so maybe it is specific to my phone. If this bug is not observed anywhere else then we can disregard it as an anomaly.

[2015-08-06 21:57] Uchman21 commented on #42
Works on mine

[2015-08-06 22:04] Uchman21 opened #43 "IPhone Porting"
Just a question though. Is this app gonna be on IPhone ?

[2015-08-06 22:05] HexTree commented on #43
Not this year, no.

[2015-08-06 22:17] #43 closed, assigned to nobody

[2015-08-06 23:02] Uchman21 commented on #39
Completed from 9th to the 13th. Anyone can continue with completing 14th and 15th which are the only remaining ones. I will release this and if i find time again, then i will take it up.

[2015-08-07 14:35] HexTree commented on #39
a59e7af58ffd59b689cae28837859a44bf98d6c3 Done

[2015-08-07 14:35] #39 closed, assigned to HexTree

[2015-08-07 14:43] HexTree opened #44 "Remove unused images"
Once we've settled on the images to use, delete any unused images to save space.

[2015-08-07 15:05] HexTree commented on #41
f1bfb77a6ab057ab3e72ff93afca37622a12ad4f Done

[2015-08-07 15:05] #41 closed, assigned to nobody

[2015-08-07 15:06] HexTree commented on #42
Closing due to non-reproducibility.

[2015-08-07 15:06] #42 closed, assigned to nobody

[2015-08-07 23:06] Uchman21 opened #45 "Google play upload."
When are we gonna upload the app. I think the earlier the better. we can make changes while its there. Or are we waiting for it to get approved ?

[2015-08-08 00:16] hadjimy commented on #45
Make some changes in icons. See #46.
If everything looks good we can upload to google play.

[2015-08-08 08:03] HexTree commented on #45
We are waiting for approval, hopefully Sunday morning but I don't know for sure. However I can probably just upload it and keep it not visible to the public. I'll look into this when I get to the office.

[2015-08-08 11:10] HexTree commented on #21
Need to wait for #40 to be complete before doing this.

[2015-08-08 11:26] Uchman21 opened #47 "Travel Icon"
I still prefer the bus icon since the bus can represent both long travels or just the in-camp bus schedule which we have in that menu. Having the camel and palm kinda makes it look like a menu more of only for vacations.

[2015-08-08 11:27] Uchman21 opened #48 "Icons"
Please to make all the icons and pictures compatible for all devices, i need a list of all the new added icons and pictures ASAP.

[2015-08-08 11:42] HexTree commented on #47
I originally wanted the palm tree icon because the Travel section was going to be mostly about tourism stuff. But since we have been asked to remove all touristy stuff, and also since we've added the bus routing section, I guess the bus icon is now more appropriate. Ok, let's revert to the bus icon, and we can save the palm tree icon for the future if and when we make a new smartphone app with all

[2015-08-08 11:42] HexTree commented on #40
Done, all contacts are entered (not yet categorised) and using the default 'person' icon.

[2015-08-08 11:42] #40 closed, assigned to HexTree

[2015-08-08 11:43] HexTree commented on #21
Ok, content is filled.

[2015-08-08 11:45] HexTree opened #49 "Phone book - categorise contacts"
Separate contacts into categories, as in attached document in emails. Wait for icons #21 to be dealt with first.

[2015-08-08 12:08] Uchman21 commented on #47
I would like to request something like a map icon too.

[2015-08-08 12:10] #34 closed, assigned to HexTree

[2015-08-08 12:12] HexTree opened #50 "About - improve look"
Right now it's just basic text. If someone thinks they can improve the look, feel free to do so. Also, we could make the email address a hyper-link, but I don't know how to do that.
![about](https://cloud.githubusercontent.com/assets/7933725/9150407/dec95224-3ddf-11e5-956f-c478eb408e69.png)
Not a high priority task.

[2015-08-08 12:34] hadjimy commented on #47
What kind of map icon you would like? Where's going to be used?

[2015-08-08 12:36] Uchman21 commented on #47
Just a simple map icon. Maybe something with a map pin. To be used on the map button

[2015-08-08 12:38] HexTree commented on #47
Do you have a new layout in mind? I don't see how a map icon can be introduced to the present layout.

[2015-08-08 12:39] hadjimy commented on #21
Icons are added (#51) and are located in drawable/contacts folder.
Main menu icons have a scaled resolution in the drawable-dpi folders.
Do we need to adjust the resolution for the contact icons too?

[2015-08-08 12:41] hadjimy commented on #47
I can make a map of the region to be used as a button image.

[2015-08-08 12:44] Uchman21 commented on #47
oh the current buttons under travel which are currently blank. not necessary to be a map of a region but just an icon indicating its a map button. For the bus planner button, i will use the bus icon

[2015-08-08 12:46] hadjimy commented on #47
Don't know if the resolution of the bus icon is enough. That button takes full width of the screen. But if it looks good then go for it.

[2015-08-08 12:46] hadjimy commented on #50
This looks ok, perhaps you can add some white margin and just say acknowledgements and enumerate the people involved. (the less this text the better)

[2015-08-08 12:46] HexTree commented on #47
I don't know about putting icons on buttons themselves, especially with the text present. It sounds a bit strange.

[2015-08-08 12:50] HexTree commented on #37
fe72316f54a66d7ed035b20e0bdffb1ebdfba8d7 With this new change the background is on all menus, not just the main one. I'm not too sure about this, it looks strange on things like calendar, and for scrollable menus like Contacts it interferes with the text. The scrollable items should really be kept clear for maximum readability. I would suggest to keep the background for only Main Menu. Maybe we ca

[2015-08-08 12:51] Uchman21 commented on #47
Or rather don't worry.. i used a plane color for the button. Yeah you are correct , with the text, it looks strange

[2015-08-08 12:51] #47 closed, assigned to hadjimy

[2015-08-08 13:13] hadjimy commented on #37
The background was meant to replace only the main menu pattern. I won't use it for the rest of the pages. As Liam said it is hard to make it compatible with the various text in other menus. Besides I tried to make the difference between the background and previously used pattern small. If you think is better to make the background more neutral let me know to change it.

[2015-08-08 13:36] Uchman21 commented on #37
The background looks ok for me. Maybe for the calendar it might look a bit off. I really don't see how it interferes with the scrollables. But i wouldn't go for a plane background. but for the same background but brighter. Like a bit whiter. A plane background is  not good for an app. I would suggest a whiter background. same design like the one on home but whiter/brighter .

[2015-08-08 14:03] Uchman21 commented on #50
check out to current form

[2015-08-08 14:07] HexTree commented on #37
The issue is not with the background, but with the items themselves being transparent. It looks ok when stationary, but when you scroll up and down I really don't think it works. The many lines and angles of the beacon do not complement well with the text. Our brain has to do more work distinguishing the two. I think it must be some rule of aesthetics for the space behind text to always be very sm

[2015-08-08 14:19] HexTree commented on #50
The font looks fine, but I don't think centred layout should be used for large blocks of text, only for small snippets of text. Left aligned is probably best, though you could make the first paragraph centred.

Maybe the acknowledgements could be bullet-pointed.

Also the text does not appear to be scrollable (if it rolls over the end of the page). We need to change that.

![about back](https://cl

[2015-08-08 14:22] HexTree commented on #50
Also we should not mention the name of the university in the first sentence. This is something we discussed with graduate services, we'll avoid all mentions of the university until this can be discussed in more depth with Communications.

[2015-08-08 15:09] hadjimy commented on #37
I will try to experiment with a brighter background to see if this looks
better. Otherwise we can just keep the background image only for the main
menu.

[2015-08-08 15:19] hadjimy commented on #48
All main menu icons are updated and are compatible on different devices.
Contact icons are in orientation-app/android/orientation_app/app/src/main/res/drawable/contacts/
and that's the maximum resolution available.

The following are to be used in the contacts menu:
community_info.png
goverment_affairs.png
helpdesk.png
i-hub.png
it.png
mail.png
maintenance.png
medical.png
security.png
taxi.png

[2015-08-08 15:44] HexTree commented on #48
For the residential life icon, I can't not make any sense of what is in that photo. Maybe we can just have an icon with a house?

For medical maybe we should use the standard International red cross, since it's a universal symbol for healthcare. It will be more familiar to new arrivals. I've not seen the red crescent before, is that what KMC use?

For emergency perhaps we should have a general pur

[2015-08-08 15:45] HexTree commented on #48
Ah, I've read more about the red crescent. I didn't realise it is in widespread use. Okay let's keep it.

[2015-08-08 16:24] hadjimy commented on #48
You should not need to use the residential icon, it's low resolution and it's not in the list of phones I sent.
The red crescent is the icon used for medical purposes in Muslim countries. I will add an alternative icon though. Don't have a strong preference about that.
I will revise some of the icons based on a common template.

[2015-08-08 19:29] hadjimy commented on #48
See #52

[2015-08-08 22:13] HexTree commented on #37
Yes, I think it looks much better with the current level of brightness. I do not feel there is any interference now. I think for the calendar (not the top level, but the day schedule layout) we should get rid of the beacon or make it brighter, it doesn't look good to only see the very tip of the beacon and have the rest obscured by the menu.

[2015-08-08 22:20] hadjimy commented on #37
Ok, use any of the background files you think is the best. All contact icons (according to my list) are already uploaded so we only need to change the relevant entries in the files.
I won't be able to do anything more for the app tomorrow at least until late in the night.

[2015-08-08 22:21] Uchman21 commented on #37
I have already taken care of all those.Check the latest version

[2015-08-08 22:26] HexTree commented on #48
Contact icons look very nice now. Residential life is the same as student life forum, we should really have a house for it. Also, the icon for fchelpdesk specifically says "Community Info Centre" in the embedded text. We could solve this by erasing the text altogether, we needn't have small hard-to-read text in the icon anyway.

[2015-08-08 22:27] HexTree commented on #48
Ah, my mistake, just realised you added new icons for those two already. I'll change them.

[2015-08-08 22:27] HexTree commented on #45
I'll upload within the next hour.

[2015-08-08 22:41] #48 closed, assigned to hadjimy

[2015-08-08 22:41] #21 closed, assigned to Uchman21

[2015-08-08 22:42] #50 closed, assigned to nobody

[2015-08-08 22:46] HexTree opened #53 "Contacts - move image references to raw file"
In Phonebook.java, we should avoid hardcoding all the names of the png files, and instead move them to the raw text file to be extracted from. Not an urgent issue, but I think it is good practice to avoid hardcoding things which may change a lot.

[2015-08-08 22:50] hadjimy commented on #48
"Community Info Centre" goes to the Community Information Centre and the purple helpdesk to F&C helpdesk contact. Shall I erase the text from the community icon? (it should be _center_ also if we use US-english)

[2015-08-08 22:57] HexTree commented on #37
I'll stick to using background15 in the places which need brightness. So the rest can be deleted.

[2015-08-08 22:57] #37 closed, assigned to Uchman21

[2015-08-08 23:02] HexTree commented on #44
add4407331d12a55e0a51d9d45f986769bb56345 Removed any redundant images I could find.

[2015-08-08 23:02] #44 closed, assigned to HexTree

[2015-08-09 00:05] HexTree commented on #45
Published just now. Pending approval from Google.

[2015-08-09 00:05] #45 closed, assigned to HexTree

[2015-08-09 00:44] HexTree commented on #48
Yes, I think the icon will look better without the curvy text, seeing as we already have the text in the contact list.

[2015-08-09 12:26] HexTree commented on #53
On second thoughts I think this is probably not a good idea. If someone types invalid filenames into the raw file, we will get errors which are not detected at compile time. Better to hardcode the filenames.

[2015-08-09 15:55] HexTree opened #54 "Multiple apks"
Generate two apks, one for phones and one for tablets. We could try this. It will reduce the phone apk significantly in size (maybe down to 40% of original size), as it won't need all the higher resolution icons. The vast majority of users will be on phones I think.

[2015-08-09 21:37] HexTree opened #55 "Checklist - tell users that checklist items are clickable"
At the moment there is no way of knowing that the Checklist entries are clickable. Maybe we can add a subtitle at the top saying this. Or alternatively a Toast message.

[2015-08-09 21:39] HexTree opened #56 "About - font is not very readable"
The font in About is not so readable, especially on smaller phones. The letters are a bit thin. Maybe we can increase the size or thickness, or try alternate fonts.

[2015-08-09 21:40] #53 closed, assigned to nobody

[2015-08-09 22:39] Uchman21 commented on #56
Can make it thicker

[2015-08-09 22:47] Uchman21 commented on #55
By the menu you mean the main menu? If so, a normal phone user would know they are clickable. But adding a subtitle on the top would look bad i think, not design wise but logic wise. You can add whatever you want in the about option. Adding a little "how to use" section just after the welcome and app description.

[2015-08-09 22:51] Uchman21 commented on #55
Or add two buttons under after the welcome and app description. first button for the appreciation and second for a FAQ which would then also contain the "for further information, contact ******" at the end.

[2015-08-10 06:48] HexTree commented on #55
No, I'm referring specifically to the Checklist.

[2015-08-10 18:20] yipcma commented on #56
perhaps use same font as in menu items

[2015-08-10 18:21] yipcma commented on #55
a simple hyperlink [details...]() would do

[2015-08-10 18:24] yipcma opened #57 "new kbus link for source tracking"
Hi guys, could you update the kbus link to [http://camelab.net/kbus/](http://camelab.net/kbus/) in your next release? This would help a lot in identifying users from the orientation-app. Thanks a lot :)

[2015-08-10 19:31] HexTree commented on #55
Used a toast. Avoids adding to the layout.

[2015-08-10 19:31] #55 closed, assigned to nobody

[2015-08-10 19:31] HexTree commented on #57
Done

[2015-08-10 19:31] #57 closed, assigned to nobody

[2015-08-10 19:59] HexTree commented on #56
Ok, will use the thicker font for now. Might need to readdress this in future if it's still not so readable.

[2015-08-10 19:59] #56 closed, assigned to nobody

[2015-08-24 21:34] HexTree opened #58 "Bug - Can't scroll main menu on certain phones"
A friend claimed he tried the app on a Huawei mobile (lent to him by the Student Centre) and he could only see the top four icons on the main menu. He could not scroll down.

I have not reproduced this, I'll see if I can in an emulator.

[2015-09-04 18:39] HexTree opened #59 "screenshots"
![main_large](https://cloud.githubusercontent.com/assets/7933725/9691804/84607a64-534d-11e5-81a0-6e1979ad845c.png)
![screenshot_2015-08-09-12-59-09](https://cloud.githubusercontent.com/assets/7933725/9691744/358d6956-534d-11e5-8f12-c62897fcfd9c.png)
![screenshot_2015-08-09-13-01-32](https://cloud.githubusercontent.com/assets/7933725/9691745/358ed232-534d-11e5-9cec-777a754f6d03.png)
![screenshot_20

[2015-09-04 18:39] #59 closed, assigned to nobody

[2015-09-04 18:59] HexTree opened #60 "delete all stuff specific to student Orientation"
Delete all student-specific stuff, and leave only the features useful to all the community.

[2015-09-04 19:04] HexTree opened #61 "Make kbus native"
It would be great if we could make the kbus tool native, so that wifi isn't needed to run it. After all, most people out and about won't have wifi. Need to figure out what steps we need to make this happen.

[2015-09-04 19:12] HexTree opened #62 "KAUST maps"
We should include a feature which shows a detailed map of KAUST (including all house numbers) without need of any WIFI connection.

[2015-09-04 21:57] HexTree opened #63 "Port everything to iOS"
Whilst we only did Android for the student release, I think it is important that we produce the app on both Android and iOS before it is released to the whole community for the first time. This means everything we have done on Android needs to be ported to iOS. Porting won't take as long as writing it all from scratch, but we will still need people who know (or are willing to learn) iOS developmen

[2015-09-04 22:43] HexTree commented on #60
9866087a39a16966c3af976bb26338b80f3c0a47

[2015-09-04 22:43] #60 closed, assigned to HexTree

[2015-09-06 13:37] HexTree opened #64 "Main menu - how to make flexible?"
At the moment, the code for the main menu produces a nice layout. However, since the exact positions of the icons are hardcoded into around 4 or 5 different layout/home files, it's a pain to add or remove menu items (which I expect will be done often in future development). Ideally the only thing we would want to change is a list somewhere, which says something like [about, contacts, travel, webli

[2015-09-24 11:17] Uchman21 commented on #64
This is a good idea. Would work well, if maybe we create multiple apks. Each for different screen size. But for now, since we are using only one apk for all size, it would appear weird on some devices and most of the new api that tries to tackle size size problem are not available for lower android versions. which kinda defeats the aim since most of the small screens have lower android version. if

[2015-09-24 11:20] Uchman21 commented on #61
I think we can do it. we just need to get the information from the developer. but remember, everything you add increases the app size. And if i remember well, you said people complained about the app size.

[2015-09-24 13:49] HexTree commented on #61
App size was originally a concern for the target customers, because students were just arriving, possibly with older phones, and also there was a problem with the Student network in the Student Centre. In fact, all Google Play downloads would lag out under that wifi, not just our app.

Now, given the new target market, I don't expect app size too be so big an issue, and we can prioritise the inclu